/* InitialChat.module.css */

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}

.querySectionText {
    font-size: 22px;
    margin-bottom: 20px;
}