Django
django-cors-headers
djangorestframework
gunicorn
dj-database-url
psycopg2-binary
whitenoise
google-auth
google-cloud-storage
python-dotenv
sqlparse
asgiref
google-cloud-storage
django-storages

pytest>=7.4.0
pytest-django>=4.5.2
pytest-cov>=4.1.0
factory-boy>=3.3.0