/* Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    padding-top: 20px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 15px;
    font-size: 24px;
    color: #EAEAEA;
}

.sidebarHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

.sidebarPinnedItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.sidebarRecentChats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.footer {
    flex-shrink: 0;
}



.closeSidebarButton,
.newChatButton {
    background-color: transparent;
    border: none;
    color: #B4B4B4;
    font-size: 20px;
    cursor: pointer;
}

.closeSidebarButton:hover,
.newChatButton:hover {
    color: #ECECEC;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 200px;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding: 10px;
        order: 2;
    }

    .sidebarHeader,
    .menu,
    .footer {
        display: none;
    }
}